.container{
    background-color: beige;
    border-radius: 5px;
    border: .5px solid #000;
    box-shadow: 0 4px 0 0 beige;
    padding: 0.3rem;
    transition: .5s all;
}

.container-nopad{
  background-color: rgb(235, 235, 131);
  border-radius: 5px;
  border: .5px solid #000;
  box-shadow: 0 4px 0 0 beige;
  transition: .5s all;
}
.expColp{
    float: right;
    margin-top: -1rem;
    padding-bottom: 0.5rem;
}
.container:hover{
    background-color: cyan;
}

.lwc-bg{
    background-color: #e0ebe0;
}
.parent-div{
    background-color: lavenderblush;
  }

  .css-hand{
      cursor: pointer;
  }

  .title-bg{
   /*width:50rem;*/
    background-color: rgb(243, 242, 242);
    padding: 0.25rem;
    border-radius: 0.25rem;
    margin:3px;
}
.title-bg:hover{
  background-color: rgb(238, 255, 0);
}
.title-bg-border{
   border: .001rem solid darkgray;
}
.custom-box{
    background-color: cadetblue;
}
/* width */
::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: blueviolet; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1d1c72; 
  }
  .wrap-word-break{
    overflow-wrap: break-word;
  }

  /* CSS Stying hooks
  :host {
    --light-theme-backgroud-color: honeydew;
    --light-theme-text-color: darkgreen;
    --dark-theme-background-color: maroon;
    --dark-theme-text-color: ivory;
}

*/